/**index.wxss**/
@import '../../style/rest.less';
.heard{
    width: 100%;
    position: relative;
    .leftBox {
        position: fixed;
        z-index: 101;
        left: 0rpx;
        top: 0;
        height: 85rpx;
        background: #fff;
        justify-content: flex-start;
        padding-left: 2.5%;
        box-sizing: border-box;
        .userAvatarBox{
            border-radius: 50%;
            width: 60rpx;
            height: 60rpx;
            background: #fff;
            box-shadow: 0rpx 2rpx 4rpx 0rpx #DAE4EE;
            .avatarBox {
                height: 52rpx;
                width: 52rpx;
                border-radius: 50%;
                overflow: hidden;
                .userAvatar{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .line {
            width: 2rpx;
            height: 32rpx;
            background: #999;
            margin-left: 24rpx;
        }
        
    }
    .titleStyle {
        font-size: 28px;
    }
    .vantTabs {
        width: 100vw;
        box-sizing: border-box;
        .van-tabs__wrap {
            height: 88rpx;
            background: #ffffff;
        }
        scroll-view {
            padding-right: 2.5%;
        }
        .van-tab {
            font-size: 28rpx;
            color:#999999;
        }
        .van-tab--active{
            color:#151515;
        }
        .van-tabs__line {
           
            background-color: transparent;
        }
    }
    .activeStyle {
        font-weight: bold;
    }


    .location {
        position: fixed;
        bottom: 72rpx;
        left: 30rpx;
        width: 84rpx;
        height: 84rpx;
        background: #FFFFFF;
        border-radius: 45rpx;
        .coverImage {
            width: 48rpx;
            height: 48rpx;
        }
    }
    .beginOrder {
        position: fixed;
        bottom: 70rpx;
        left: 50%;
        margin-left: -200rpx;
        width: 400rpx;
        height: 88rpx;
        background: #457CFB;
        border-radius: 45rpx;
        font-size: 32rpx;
        font-weight: 500;
        color: #FFFFFF;
    }
    .service {
        position: fixed;
        bottom: 72rpx;
        right: 30rpx;
        width: 84rpx;
        height: 84rpx;
        background: #FFFFFF;
        border-radius: 45rpx;
        .serviceImage {
            width: 48rpx;
            height: 48rpx;
        }
    }

    .pickUp {
        width: 100%;
        min-height: calc(100vh - 88rpx);
        background: linear-gradient(348deg, rgba(224, 226, 255, 0.08) 20%, #70B6FF 100%);
        .titleTop {
            justify-content: space-between;
            padding: 20rpx 66rpx 26rpx;
            box-sizing: border-box;
            .left {
                align-items: flex-start;
                .title {
                    font-size: 36rpx;
                    font-family: AliHYAiHei;
                    color: #FFFFFF;
                }
                .subhead {
                    font-size: 16rpx;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #FFFFFF;
                    letter-spacing: 12rpx;
                }
            }
            .right {
                .text {
                    font-size: 28rpx;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #FFFFFF;
                }
                .num {
                    padding: 1rpx 8rpx;
                    font-size: 26rpx;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 600;
                    color: #FFFFFF;
                    background: #457CFB;
                    margin-right: 6rpx;
                }
            }
        }
        .content {
            padding: 0 30rpx;
            box-sizing: border-box;
            .listBox {
                width: 100%;
                background: #FFFFFF;
                border-radius: 16rpx;
                overflow: hidden;
                margin-top: 26rpx;
                .titleBox {
                    width: 100%;
                    height: 120rpx;
                    justify-content: space-between;
                    padding: 0 36rpx;
                    box-sizing: border-box;
                    .leftText {
                        font-size: 32rpx;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #333333;
                    }
                    .rightText {
                        font-size: 20rpx;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #AAAAAA;
                    }
                }
            }
        }
        .bottomText {
            position: fixed;
            left: 50%;
            bottom: 50rpx;
            transform: translateX(-50%);
            font-size: 16rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #457CFB;
            letter-spacing: 12rpx;
        }
        .seach {
            .van-search__content {
                background-color: #fff;
                border: 2rpx solid #EFF0FF;
                .van-icon  {
                    font-weight: bold;
                }
            }
        }
        .gridClass {
            text {
                font-size: 24rpx;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #151515;
                margin-top: 8rpx;
            }
        }
        .imgBox {
            width: 80rpx;
            height: 80rpx;
        }
    }
    

    .fixedIndexImage {
        position: fixed;
        z-index: @map-view-index;
        top: 88rpx;
        left: 50%;
        transform: translateX(-50%);
        .image {
            width: 690rpx;
            height: 134rpx;
            border-radius: 0rpx 0rpx 40rpx 40rpx;
            box-shadow: 0rpx 8rpx 16rpx -4rpx #C2BFBB;
        }
        .imageList {
            width: 690rpx;
            height: 134rpx;
            border-radius: 0rpx 0rpx 40rpx 40rpx;
            padding: 30rpx 24rpx 26rpx 28rpx;
            box-sizing: border-box;
            position: relative;
            z-index: 1;
            justify-content: space-between;
            box-shadow: 0rpx 8rpx 16rpx -4rpx #C2BFBB;
            .backGroundImg {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .left {
                align-items: flex-start;
                .title {
                    font-size: 28rpx;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #333333;
                    .tag {
                        font-size: 22rpx;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #FFFFFF;
                        padding: 2rpx 8rpx;
                        box-sizing: border-box;
                        background: #00CB8B;
                        border-radius: 2rpx;
                        margin-left: 6rpx;
                    }
                }
                .status {
                    font-size: 22rpx;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #707070;
                    margin-top: 10rpx;
                    .time {
                        color: #FF6C00;
                    }
                }
            }
            .right {
                font-size: 20rpx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #AAAAAA;
            }
            .van-icon {
                margin-left: 4rpx;
            }
        }
    }
}
