/**index.wxss**/
@import '../../style/rest.less';
.returnCar{
    width: 100%;
    .goGetCar {
        position: fixed;
        z-index: 9999999;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 30vh;
        background: #fff;
    }
    
}
